<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formulario</title>
</head>
<body>
    <form action="gravar" method="post">
        <input type="text" name="nome" placeholder="nome"></input>
        <input type="text" name="email" placeholder="email"></input>
        <input type="password" name="senha" placeholder="senha"></input>
        <input type="submit" value="enviar"></input>
    </form>

</body>
</html>
